body {
  font-family: Dormine !important;
}

.custom-loader,
.custom-loader:after {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
}
.custom-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ol-text {
  max-width: 450px;
}

.img-overlay{
	background:linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
  ), url("../../img/custom/main-header.jpg");
  background-size: cover;
}

.navbar-brand > img {
  width: 130px;
}

.profile-pic {
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid #eeeeee;
}

#people {
  background: #faf8f8;
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;
}

strong {
  font-weight: 700;
}

.auth-overlay {
  position: fixed;
  z-index: 100000000;
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  font-family: domine;
  text-align: center;
  align-items: center;
}

.auth-overlay div {
  justify-content: center;
}

.auth-overlay form {
  width: 100%;
  padding: 10px;
}